/* BARRA DE NAV */
/*header {
    background: rgba(0, 0, 0, 0.336);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }*/
  header {
    background-color: rgb(87, 78, 83);
    color: aliceblue;
    padding: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    width: calc(100% - 1em);

    z-index: 1;
}

  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Helvetica;
    font-size: 10px;
  }
  nav ul li a {
    /*display: block;*/
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration:double;
    margin: 3px;
   
  }
  nav ul li:hover {
    background: rgb(255 127 242 / 20%);
  }
  
.logo {
  height: 1em;
}

/* BODY
body {
    margin: 0px;
    background-color: (red);
    font-family: 'Macondo', cursive;
  }

 */

 .principal {
    background-color: rgb(255 127 242 / 20%);
    /*padding: 20px;
      border-radius: 5px;*/
  }
  

  /* Seccion: banner */

  #banner {
    margin-top: 2em;
    min-height: 100vh;

    background-image: url('./imagenes/banners/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}

#banner h1 {
    position: absolute;
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    margin: 0px;
  
    color: rgb(221, 171, 183);
 
    font-family: Helvetica;
}

#subtitle {
    position: absolute;
    bottom: 10%;
    left: 5%;
    top: 35%;

    padding-left: 2em;
    width: 35%;
    font-family: Helvetica;
    justify-content: center;
  
}

#subtitle p {
    color:rgba(133, 130, 130, 0.966);
    left: 5%;
    justify-content: center;
}


/* Seccion: Servicios */

section#servicios {
    min-height: 120vh;

    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: darkgray;
}

#servicios > div:nth-child(1) {
    /*border-right: 1px solid black;*/
    flex-basis: calc(60% - 1px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
}

#servicios > div:nth-child(1) > * {
    width: 80%;
}

#servicios > div:nth-child(2) {
    flex-basis: 40%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#servicios .card {
    /*border: 1px solid black;*/
    max-width: 300px;
}

#servicios .card img {
    width: 100%;
}

#servicios .card p {
    text-align: justify;
    
    font-family: Helvetica;
}


/* Seccion: productos */

#productos {
    border-bottom: 1px solid black;
    min-height: 100vh;
    background-color: rgb(221, 171, 183);
}
.ajusteprod {

    width: 20%;
    margin: 10px;
    border: solid 2px black;
  }
  


/* Seccion: Contacto */

section#contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section#contacto h2 {
    text-align: right;
    color: black;
    font-family: Helvetica;
}

section#contacto a {
    color: black;
}

section#contacto img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section#contacto 
#map {
    flex-basis: 40%;
  
   
}

section#contacto
#form-contacto {

    flex-basis: 30%;
    display: flex;
    background-color:rgba(133, 130, 130, 0.966);
   
}
#contacto-container {
    flex-basis: 30%;
text-size-adjust: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgba(133, 130, 130, 0.966);
    
    
}

#contacto-container ul {
    text-align: left;
}

#contacto-container ul li {
  float: left;
  font-family: Helvetica;
  font-size: 10px;
}
/*TEXTO*/
.textorelieveprincipal {
    /*text-align: left;*/
    
    font-weight: bold;
    font-size: 25px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /*color: transparent;*/
    font-family: Helvetica;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
  }
  
  
  .textorelievesecundaria {
    text-align: left;

    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
  }
  
  .textorelieveparrafo {
    text-align: right;

    font-size: 27px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /*color: transparent;*/
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
  }
  
  /* FOOTER */

    footer {
        background-color: rgb(45, 44, 44);
        color: aliceblue;
        padding: 0.5em;

        text-align: center;
        width: calc(100% - 1em);
    }
  
